html {
  min-height: 100%;
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -moz-linear-gradient(top,  #fff,  #ccc);
  font-family: 'Lato', Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  border-top: 3px solid #022343;
  font-weight: 300;
}

/* both the header and main article are centred */
article, header {
  display: block;
  width: 900px;
  margin: 30px auto 0px auto;
}

/* header */
header {
  line-height: 48px;
  height: 48px;
}

  header img {
    float: left;
  }
  
  header h1 {
    font-weight: normal;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0px 1px 1px white;
    text-align: right;
  }

/* main content */
article strong {
  font-weight: 400;
}

section h1 {
  font-weight: normal;
  font-size: 20px;
}

dt, dd {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

dt {
  width: 110px;
}

dd {
  width: 330px;
  overflow: hidden;
  text-overflow: hidden;
}

/* don't show kill times on the main page */
dd em {
  display: none;
}

/* footer */
footer {
  background-color: rgba(0,0,0,0.7);
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 15px;
}
